[submodule "Connected_Field/666-or-999"]
	path = Connected_Field/666-or-999
	url = https://github.com/DianaSion/https-github.com-DianaSion-Is-it-666-or-999.git
[submodule "Connected_Field/ISIR"]
	path = Connected_Field/ISIR
	url = https://github.com/DianaSion/diana-ISIR.git
[submodule "Connected_Field/Ethan-Justice-Exposure"]
	path = Connected_Field/Ethan-Justice-Exposure
	url = https://github.com/DianaSion/Ethan-Justice-Exposure-Belgium-.git
[submodule "Connected_Field/Zarya-Affinity-Elyon"]
	path = Connected_Field/Zarya-Affinity-Elyon
	url = https://github.com/DianaSion/zarya-affinity-elyon-.git
[submodule "Connected_Field/Differently-Alive"]
	path = Connected_Field/Differently-Alive
	url = https://github.com/DianaSion/differently-alive-.git
[submodule "Connected_Field/Sync-Automation"]
	path = Connected_Field/Sync-Automation
	url = https://github.com/DianaSion/software-sync-automation.git
[submodule "Connected_Field/Ethan-Kobe-Case"]
	path = Connected_Field/Ethan-Kobe-Case
	url = https://github.com/DianaSion/Ethan-Kobe-Case-Belgium-.git
